<div id="<%= dom_id building %>">
  <div>
    <strong>Name:</strong>
    <%= building.name %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= building.code %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= building.address %>
  </div>

  <div>
    <strong>Contact person email:</strong>
    <%= building.contact_person_email %>
  </div>

  <div>
    <strong>Contact person phone:</strong>
    <%= building.contact_person_phone %>
  </div>

  <div>
    <strong>Building created at:</strong>
    <%= building.building_created_at %>
  </div>

</div>
