<div id="<%= dom_id asset %>">
  <div>
    <strong>Name:</strong>
    <%= asset.name %>
  </div>

  <div>
    <strong>Code:</strong>
    <%= asset.code %>
  </div>

  <div>
    <strong>Room:</strong>
    <%= asset.room_id %>
  </div>

  <div>
    <strong>Purchase date:</strong>
    <%= asset.purchase_date %>
  </div>

  <div>
    <strong>Last inspection date:</strong>
    <%= asset.last_inspection_date %>
  </div>

  <div>
    <strong>Note:</strong>
    <%= asset.note %>
  </div>

  <div>
    <strong>Purchase price:</strong>
    <%= asset.purchase_price %>
  </div>

</div>
