<p style="color: green"><%= notice %></p>

<% content_for :title, "Assets" %>

<h1>Assets</h1>

<div id="assets">
  <% @assets.each do |asset| %>
    <%= render asset %>
    <p>
      <%= link_to "Detail", asset %>
      <% if can? :update, asset %>
        <%= link_to 'Upravit', edit_asset_path(asset) %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New asset", new_asset_path %>
